*{
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
  margin-left: 60%;
  margin-top: 10%;
  background: #FFFBD4;
}

.login {
  height: 480px;
  width: 480px;
  background-color: #A7CD8F;
  border-radius: 30px;
  color: #000;
  display: flex;
  flex-direction: column; /* 내부 요소들을 세로로 배치 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
}

/* 나머지 스타일은 동일하게 유지 */

.login h3{
  text-align: center;
}

button{
  cursor: pointer;
}

.login button{ 
  display: inline-block;
  height: 45px;
  width: 150px;
  border-radius: 7px;
  background-color: #FFE99D;
  color: #A7CD8F;
  border: none;
  margin: 20px 30px 20px 45px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons p{
  margin-right: 45px;
}

.buttons a{
  color: #000;
}

.inputs input{
  outline: none;
  height: 30px;
  width: 270px;
  margin: 14px 0 0 60px;
  border-radius: 7px;
  color: #000000;
  border: none;
}

.finds a{
  color: #000;
}

.finds {
  display: flex;
  align-items: center;
}

.finds p {
  margin-right: 20px;
}


.Circle {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 150px; /* 오른쪽으로 이동 */
  top: 210px;
  background: #FFE99D;
  border-radius: 1000px;
}